  <div class="modal">
    <ion-header-bar>
		<div class="buttons">
			<button class="button" ng-click="cancelNew()">Cancel</button>
		</div>
		<h1 class="title">Add Expense</h1>
		<div class="buttons">
			<button class="button" ng-click="saveNew()">Save</button>
		</div>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-item>Date</ion-item>
            <ion-item>Title</ion-item>
            <ion-item>Description</ion-item>
            <ion-item>Amount</ion-item>
        </ion-list>
    </ion-content>
</div>
